.arrow-down {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    position: absolute;
    top: 95%;
    left: 52%;
    transform: translate(-50%, -50%);
  }
  
  .arrow-down:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  


  .arrow-up {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: rotate(180deg);

  }
  
  .arrow-up:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


  }



  .arrow-left {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
    transform: rotate(90deg);


  }
  
  .arrow-left:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }



  .arrow-right {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    position: absolute;
    top: 50%;
    left: 98%;
    transform: translate(-50%, -50%);
    transform: rotate(270deg);


  }
  
  .arrow-right:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
